<% settings_yaml = YAML.load_file('config/settings.yml') %>


  <% unless params.empty? %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    All settings have been saved!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <% end %>


<div class="row ml-1">
  <form action="/config" method="get" >

    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text fixed-width">Images per Page</div>
      </div>
      <input type="text" class="form-control" name="images_per_page" value="<%= Settings.images_per_page %>" >
    </div>

    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text fixed-width">Thumbs Path</div>
      </div>
      <input type="text" class="form-control" name="thumb_path" value="<%= Settings.thumb_path %>" >
    </div>

    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text fixed-width">Thumb Resolution</div>
      </div>
      <input type="text" class="form-control" name="thumb_res" value="<%= Settings.thumb_res %>" >
    </div>

    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text fixed-width">Thumbs Target</div>
      </div>
      <input type="text" class="form-control" name="thumb_target" value="<%= Settings.thumb_target %>" >
    </div>

    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text fixed-width">Originals Path</div>
      </div>
      <input type="text" class="form-control" name="originals_path" value="<%= Settings.originals_path %>" >
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<%
unless params.empty?
  settings_yaml['images_per_page'] = params['images_per_page']
  settings_yaml['thumb_path']      = params['thumb_path']
  settings_yaml['thumb_res']       = params['thumb_res']
  settings_yaml['thumb_target']    = params['thumb_target']
  settings_yaml['originals_path']  = params['originals_path']

  File.open("config/settings.yml", "w") { |file| file.write(settings_yaml.to_yaml) }
  Settings.reload!
end
%>
