<%
  trashcan       = Octicons::Octicon.new("trashcan").to_svg
  info           = Octicons::Octicon.new("info").to_svg
  move           = Octicons::Octicon.new("git-compare").to_svg
  images         = Image.where(duplicate: true).order("created_at #{Settings.sort_order}, fingerprint, image_name").paginate(
                      page: params[:page],
                      per_page: Settings.images_per_page
                   )
%>
<% unless images.empty? %>
  <% unless images.count < Settings.images_per_page.to_i %>
  <hr />
  <%= will_paginate images, {:previous_label => '«', :next_label => '»'} %>
  <hr />
  <% end %>

  <div class="row mt-1">
    <% images.each do |image| %>
    <% short_md5 = truncate(image.md5_path, :length => 8, :omission => '') %>
      <div class="<%= Settings.col_options %>">
          <div class="card mb-1">
            <img src="<%= Settings.thumb_path %>/<%= image.md5_path %>.png" class="card-img-top">
            <small class="mt-1" align="center"><%= truncate(image.image_name, :length => 27) %></small>
            <small class="mt-1" align="center"><%= image.created_at %></small>
            <small class="mt-1" align="center"><%= image.folder_path %></small>
            <div class="btn-toolbar mb-1 ml-1 justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
                <a class="btn btn-outline-primary btn-sm mr-1" type="button" data-toggle="modal" data-target="#Info<%= short_md5 %>Modal"><%= info %></a>
                <a class="btn btn-outline-info    btn-sm mr-1" type="button" data-toggle="modal" data-target="#Move<%= short_md5 %>Modal"><%= move %></a>
                <a class="btn btn-outline-danger  btn-sm mr-1" type="button" data-toggle="modal" data-target="#Delete<%= short_md5 %>Modal"><%= trashcan %></a>
            </div>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="Info<%= short_md5 %>Modal" tabindex="-1" role="dialog" aria-labelledby="Info<%= short_md5 %>ModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="Info<%= short_md5 %>ModalLabel">Info</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              ID: <small><%= image.id %></small><br>
              Name: <small><%= image.image_name %></small><br>
              MD5 Path: <small><%= image.md5_path %></small><br>
              Fingerprint: <small><%= image.fingerprint %></small><br>
              Duplicate: <small><%= image.duplicate %></small><br>
              Duplicates: <small><%= image.duplicate_of %></small><br>
              Path: <small><%= image.file_path %></small><br>
              Folder: <small><%= image.folder_path %></small><br>
              Image?: <small><%= image.is_image %></small><br>
              Video?: <small><%= image.is_video %></small><br>
              Created: <small><%= image.created_at %></small><br>
              Updated: <small><%= image.updated_at %></small><br>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="Delete<%= short_md5 %>Modal" tabindex="-1" role="dialog" aria-labelledby="Delete<%= short_md5 %>ModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="Delete<%= short_md5 %>ModalLabel">Delete Image?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form action="/image/<%= image.md5_path %>" method="post">
                  <input name="_method" type="hidden" value="delete" />
                  <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="Move<%= short_md5 %>Modal" tabindex="-1" role="dialog" aria-labelledby="Move<%= short_md5 %>ModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="Move<%= short_md5 %>ModalLabel">Move Image</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="/image/move/<%= image.md5_path %>" method="post" >
                <div class="input-group mb-2">
                  <input type="text" class="form-control" name="file_path" value="<%= image.file_path %>" >
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>

    <% end %>
  </div>

  <% unless images.count < Settings.images_per_page.to_i %>
  <hr />
  <%= will_paginate images, {:previous_label => '«', :next_label => '»', :inner_window => 0, :outer_window => 0} %>
  <% end %>
<% end %>
