
<%
  current_folder = Folder.where(folder_path: folder_root).first
  trashcan       = Octicons::Octicon.new("trashcan").to_svg
  arrow_up       = Octicons::Octicon.new("arrow-up").to_svg
  versions       = Octicons::Octicon.new("versions").to_svg

  unless current_folder.nil?
    entry_point   = Folder.where(folder_path: folder_root).first.sub_folders
    parent_folder = Folder.where(folder_path: folder_root).first.parent_folder
    images        = Image.where(folder_path: folder_root.delete_suffix('/') ).order(image_name: :asc).paginate(page: params[:page], per_page: 20)
  end
%>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <% breadcrumbs = folder_root.split("/") %>
      <% breadcrumbs.each_with_index do |breadcrump, i| %>
        <% if i == 0 %>
        <li class="breadcrumb-item">
          <a href="/folders"><%= versions %></a>
        </li>
      <% elsif i == 1 %>
      <% else %>
        <li class="breadcrumb-item">
          <a href="/folders/<%= breadcrumbs.take(i).join('/') %>/<%= breadcrump %>/"><%= breadcrump %></a>
        </li>
      <% end %>
    <% end %>
  </ol>
</nav>

<% unless current_folder.nil? %>
<div class="btn-toolbar">
<% entry_point.each do |entry| %>
  <a class="btn btn-outline-primary btn-sm mr-1 mb-1" href="/folders/<%= entry %>"><%= entry.split('/').last %></a>
<% end %>
  <a class="btn btn-outline-secondary btn-sm mr-1 mb-1" href="/folders/<%= parent_folder %>/">Up</a>
</div>

  <% unless images.empty? %>
  <div class="row mt-2">
    <% images.each do |image| %>
      <div class="col-auto">
        <a href="/image/<%= image.md5_path %>" data-fancybox="gallery" data-caption="<%= image.image_name %>">
          <div class="card mb-2">
            <img src="<%= @thumb_path %>/<%= image.md5_path %>.png" class="card-img-top">
            <div class="card-footer">
              <small><%= truncate(image.image_name, :length => 17) %></small>
            </div>
          </div>
        </a>
      </div>
    <% end %>
  </div>
  <% end %>

  <%= will_paginate images, {:previous_label => '«', :next_label => '»'} %>
<% end %>
